
element{
  --color1 : ; 
  --color2 : ;
  --color3 : ;
  --color4 : ;
  --color5 : ;

}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #000807;
  font-family: "Bebas Neue", cursive;
  scroll-behavior: smooth;
}

